[submodule "Day021B-ModularQuoteVault/lib/forge-std"]
	path = Day021B-ModularQuoteVault/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Day021B-ModularQuoteVault/lib/buildswithking-security"]
	path = Day021B-ModularQuoteVault/lib/buildswithking-security
	url = https://github.com/BuildsWithKing/buildswithking-security
[submodule "Day022A-ToDoListPlus/lib/forge-std"]
	path = Day022A-ToDoListPlus/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Day022A-ToDoListPlus/lib/buildswithking-security"]
	path = Day022A-ToDoListPlus/lib/buildswithking-security
	url = https://github.com/BuildsWithKing/buildswithking-security
